*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
}
section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 30px;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
button:active{
     scale: 0.95;
}
span{
    color: red;
}